{% load static %}

<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
     <link rel="icon" href="{% static 'images/favicon.ico.ico' %}" type="image/x-icon">
     <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block unique_links %}{% endblock %}
</head>

<body>
    <header class="header">
        <!-- Логотип -->
        <div class="header__logo">
            <a href="{% url 'about' %}">
                <img src="{% static 'images/logo.png' %}" alt="Логотип">
                <h1>Библиотека №21 имени Н.М. Рубцова</h1>
            </a>
        </div>

        <!-- Строка поиска -->
        <div class="search-container">
            <input  type="text" class="search-input" placeholder="Поиск...">
        </div>

        <!-- Навигация -->
        <nav class="header__nav">
            <ul class="header__nav-list">

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">
                            <img src="{% static 'images/Профиль.png' %}" alt="ПРОФИЛЬ"> {{ user.username }}
                         </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'log_in' %}">
                            <img src="{% static 'images/Профиль.png' %}" alt="ПРОФИЛЬ">ВОЙТИ
                        </a>
                    </li>
                {% endif %}

                <li><a href="#">
                    <img src="{% static 'images/Избранное.png' %}" alt="ИЗБРАННОЕ">ИЗБРАННОЕ</a>
                </li>

                <li><a href="#">
                    <img src="{% static 'images/Заказы.png' %}" alt="ЗАКАЗЫ">ЗАКАЗЫ</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- КОНТЕЙНЕР С БОКОВОЙ ПАНЕЛЬЮ И ВИТРИНОЙ -->
    <div class="container">
        {% block aside_content %}
        {% endblock %}

        <!-- основная часть -->
        <main class="main">
            {% block main_content %}
            {% endblock %}
        </main>
    </div>

{% include 'app/includes/footer.html'  %}
 </body>
 </html>