{% extends 'app/layout.html' %}
{% load static %}

{% block title %}Полезные ресурсы{% endblock %}

{% block unique_links %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block aside_content %}
    {% include 'app/includes/aside.html' %}
{% endblock %}

{% block main_content %}
    <h2>Полезные ресурсы</h2>
    <p class="resource-links-description">Здесь представлены полезные ссылки на тематические интернет-ресурсы:</p>

    <div class="resource-links">
        <a href="https://www.djangoproject.com/" target="_blank" class="resource-item">
            <img src="{% static 'images/logo/logo_django.png' %}" alt="Django">
            <span>Django – фреймворк для Python</span>
        </a>

        <a href="https://developer.mozilla.org/ru/" target="_blank" class="resource-item">
            <img src="{% static 'images/logo/logo_mdn.png' %}" alt="MDN Web Docs">
            <span>MDN – Документация по веб-технологиям</span>
        </a>

        <a href="https://python.org/" target="_blank" class="resource-item">
            <img src="{% static 'images/logo/logo_python.png' %}" alt="Python">
            <span>Python – Официальный сайт языка</span>
        </a>
    </div>
{% endblock %}
