{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
    Часто задаваемые вопросы
{% endblock %}

{% block main_content %}
    <section class="about">
        <h2>Часто задаваемые вопросы</h2>
        <article>
            <h3>Q: Как стать читателем?</h3>
            <p>
                A: Читателем может стать любой гражданин РФ, независимо от места постоянного проживания.
                <br>Для записи в библиотеку Вам необходимо иметь при себе документ (паспорт) с отметкой о регистрации в городе Сургуте;
                если Вы не имеете постоянной регистрации, то можете пользоваться фондами читальных залов, либо получить необходимые документы на абонементе под денежный залог;
                дети до 14 лет записываются в библиотеку на основании документов, удостоверяющих личность одного из родителей (или лица, под опекой которого они состоят) и поручительства (бланк поручительства выдаст библиотекарь).
            </p>
        </article>
        <article>
            <h3>Q: Сколько книг можно взять на абонементе?</h3>
            <p>A: За один раз вы имеете возможность взять не более 5 книг..</p>
        </article>
                    
        <article>
            <h3>Q: На какой срок выдаются книги?</h3>
            <p>A: Литература выдается читателям сроком до 30 дней.</p>
        </article>

        <article>
            <h3>Q: Как продлить срок пользования книгами?</h3>
            <p>A: Вы можете продлить срок пользования книгами при посещении библиотеки, по телефону (но не более двух раз), если на них нет спроса со стороны других читателей..</p>
        </article>

        <article>
            <h3>Q: Что делать, если я задержал книгу больше срока?</h3>
            <p>A: Если Вы не вернули книги в библиотеку в течение 30 дней и не продлили срок пользования ими, то Вы являетесь задолжником и должны выплатить денежную компенсацию, которая взимается за каждый просроченный день в сумме 20 рублей.</p>
        </article>

        <article>
            <h3>Q: Что делать, если я потерял или испортил библиотечную книгу?</h3>
            <p>A: В случае утраты или порчи издания Вы можете заменить его таким же изданием или иным, признанными библиотекарем равноценным,
                либо возместить его стоимость.</p>
        </article>
    </section>
{% endblock %}

