{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
    Обратная связь
{% endblock %}

{% block unique_links %}
    <link rel="stylesheet" href="{% static 'css/pool.css' %}">
{% endblock %}

{% block aside_content %}
    {% include 'app/includes/aside.html'  %}
{% endblock %}

{% block main_content %}
<h2>Обратная связь</h2>
    <form class="pool_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit-button">Отправить</button>
    </form>
{% endblock %}

