<!-- Боковая панель -->
<aside>
    <div class="sidebar">
        <a href="{% url 'about' %}">
            <h2>Каталог</h2>
        </a>
        <ul class="genre-list">
            <li><a href="#">Фантастика</a></li>
            <li><a href="#">Детективы</a></li>
            <li><a href="#">Романы</a></li>
            <li><a href="#">Фэнтези</a></li>
            <li><a href="#">Биографии</a></li>
            <li><a href="#">Научная литература</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Саморазвитие</a></li>
        </ul>
    </div>
</aside>