 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информационный раздел "О нас"</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'fonts.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'aside.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>

<body>
    <header class="header">
        <!-- Логотип -->
        <div class="header__logo">
            <a href="{% url 'about' %}">
                <img src="{% static 'images/logo.png' %}" alt="Логотип">
                <h1>Библиотека №21 имени Н.М. Рубцова</h1>
            </a>
        </div>

        <!-- Строка поиска -->
        <div class="search-container">
            <input  type="text" class="search-input" placeholder="Поиск...">
        </div>

        <!-- Навигация -->
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li>
                    <a href="#">
                        <img src="{% static 'images/Профиль.png' %}" alt="ПРОФИЛЬ">ВОЙТИ</a>
                </li>

                <li><a href="#">
                    <img src="{% static 'images/Избранное.png' %}" alt="ИЗБРАННОЕ">ИЗБРАННОЕ</a>
                </li>

                <li><a href="#">
                    <img src="{% static 'images/Заказы.png' %}" alt="ЗАКАЗЫ">ЗАКАЗЫ</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- КОНТЕЙНЕР С БОКОВОЙ ПАНЕЛЬЮ И ВИТРИНОЙ -->
    <div class="container">
        <!-- Боковая панель -->
        <aside>
            <div class="sidebar">
                <a href="{% url 'about' %}">
                    <h2>Каталог</h2>
                </a>
                <ul class="genre-list">
                    <li><a href="#">Фантастика</a></li>
                    <li><a href="#">Детективы</a></li>
                    <li><a href="#">Романы</a></li>
                    <li><a href="#">Фэнтези</a></li>
                    <li><a href="#">Биографии</a></li>
                    <li><a href="#">Научная литература</a></li>
                    <li><a href="#">История</a></li>
                    <li><a href="#">Саморазвитие</a></li>
                </ul>
            </div>
        </aside>

        <!-- основная часть -->
        <main class="main">
            <section class="about">
                <h2>Информационный раздел "О нас"</h2>
                <article>
                    <h3>Библиотека № 21 имени Н.М. Рубцова</h3>
                    <p>
                        Библиотека открылась в 1983 году. Обслуживание осуществляется по единому для всех библиотек Сургута читательскому билету. 
                        Для посетителей доступны автоматизированные рабочие места с доступом к интернет-ресурсам 
                        социально-правовой и образовательной тематики, электронным полнотекстовым ресурсам и фондам 
                        Президентской библиотеки имени Б.Н. Ельцина.
                    </p>
                    <p>
                        В 2020 году был открыт «Рубцовский зал», посвященный русскому поэту Н.М. Рубцову (1936–1971). 
                        В зале размещена коллекция документов и материалов о жизни и творчестве поэта — почти 2 000 единиц. 
                        10 июня 2020 года библиотеке было присвоено имя Н.М. Рубцова.
                    </p>
                    <p>
                        Библиотека предоставляет услуги людям с ограниченными возможностями здоровья, в частности, 
                        инвалидам по зрению. Для них создается банк электронных звуковых документов, проводятся культурно-массовые мероприятия 
                        и консультации по социально-правовым вопросам.
                    </p>
                    <p>
                        Фонд - более 47 000 книг, журналов, газет, электронных изданий, CD- и DVD-дисков.
                    </p>
                </article>

                <article>
                    <h3>Контакты</h3>
                    <p>
                        <strong>Адрес:</strong><br>
                        628418, Тюменская обл., ХМАО-Югра, г. Сургут, ул. Бажова, 17
                    </p>
                    <p>
                        <strong>Заведующий:</strong> 
                        <br>Жадаева Анна Владимировна<br>
                    </p>
                    <p>
                        <strong>Телефоны:</strong> 
                        <br>Заведующий - (3462) 35-40-4
                        <br>Горячая линия - 8 (3462) 35-40-38, 8 (3462) 35-40-45
                    </p> 
                    <p>
                        <strong>Электронная почта:</strong><br>
                        <a href="mailto:gb21@admsurgut.ru">gb21@admsurgut.ru</a>
                    </p>
                </article>
            
                <article>
                    <h3>График работы</h3>
                    <p>
                        <strong>Обычное расписание:</strong><br>
                        Вторник – Воскресенье: 11:00 – 19:00<br>
                        Понедельник: выходной<br>
                        Последний день каждого месяца: санитарный день
                    </p>
                    <p>
                        <strong>Летнее расписание:</strong><br>
                        Вторник – Суббота: 10:00 – 18:00<br>
                        Выходные дни: Воскресенье, Понедельник
                    </p>
                </article>

                <article>
                    <h3>Как добраться?</h3>
                    <p>Проезд автобусами:</p>
                        <ul>
                            <li>№ 27, 45, 49, 61, 107, 110, 115 до остановки "улица Бахилова" в сторону автовокзала</li>
                            <li>№ 27, 45, 49, 61, 77, 107, 110, 115 до остановки "улица Бахилова" в сторону ул. 30 лет Победы</li>
                            <li>№ 27, 37, 68, 99, 111, 112 до остановки "Школа №1" в сторону проспекта Мира</li>
                            <li>№ 37, 68, 99, 111, 112 до остановки "Школа №1" в сторону проспекта Ленина</li>
                            <li>№ 22, 26, 27, 45, 49, 61, 107, 110, 115 до остановки "Кинотеатр Аврора" в сторону автовокзала</li>
                            <li>№ 26, 27, 45, 49, 61, 77, 107, 110, 115 до остановки "Кинотеатр Аврора" в сторону ул. 30 лет Победы</li>
                            <li>№ 21 до остановки "магазин Охотник"</li>
                            <li>№ 4, 26 до остановки "Кинотеатр Аврора"</li>
                        </ul>
                </article>
            </section>   
        </main>
    </div>

    <footer class="footer">
        <div class="footer-content">

            <div class="footer-section">
                <a href="{% url 'links' %}"><h3>Часто задаваемые вопросы (FAQ)</h3></a>
                <a href="{% url 'about' %}"><h3>Информационный раздел "О нас"</h3></a>
            </div>

            <div class="footer-section">
                <h3>Обратная связь</h3>
                <p>Есть вопросы? Напишите нам на почту!</p>
                <form action="mailto:info@yourcompany.com" method="post" enctype="text/plain">
                    <label for="email">Ваш email:</label>
                    <input type="email" id="email" name="email" required placeholder="Введите ваш email">
                    <br>
                    <textarea name="message" rows="4" placeholder="Ваше сообщение" required></textarea>
                    <br>
                    <button type="submit">Отправить письмо</button>
                </form>
            </div>
        </div>
    </footer>

 </body>
 </html>
